@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@for $i from 1 through 12 {
  .col-#{$i}{
    flex:#{$i};
  }
}

body{
  height: 100vh;
}

.App,
#root{
  min-height:100%;
}